@font-face {
  font-family: 'Lato';
  src: local("Lato-Light");
  src: url(../assets/fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato-Regular");
  src: url(../assets/fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato-Bold");
  src: url(../assets/fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato-Black");
  src: url(../assets/fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local("Oswald-Regular");
  src: url(../assets/fonts/Oswald/Oswald-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local("Oswald-ExtraLight");
  src: url(../assets/fonts/Oswald/Oswald-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.site {
  margin-top: 128px;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 128px;
  background-image: url(../assets/images/header-bg.png);
  z-index: 2;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav {
  width: 400px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav ul li {
  list-style: none;
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Lato", Sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.nav a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.nav a:hover:after,
.nav a:focus:after {
  width: 100%;
}

.banner {
  height: auto;
  background-color: #0a0a0a;
}

.sliders img {
  height: auto;
  width: 100vw;
}

.contacts-up {
  height: 90px;
  background-color: #0a0a0a;
}

.contacts-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-up-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-left a {
  color: #949494;
  font-family: "Lato", Sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

.contact-right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
}

.contact-right a:hover {
  outline: 1px solid #949494;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.mail {
  background: url(../assets/images/mail.png) no-repeat left;
  margin-right: 15px;
  padding-left: 20px;
}

.phone {
  background: url(../assets/images/phone_c.png) no-repeat left;
  padding-left: 20px;
}

.contact-right {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project {
  height: auto;
  background-color: #0a0a0a;
  padding-bottom: 70px;
  border-bottom: 1px solid #949494;
}

.project h2 {
  position: relative;
  font-family: "Oswald", Sans-serif;
  font-size: 3.6rem;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: 0.72px;
  color: #ffffff;
  margin-left: 175px;
}

.project h2::before {
  content: "";
  border-bottom: 1px solid #ffffff;
  position: absolute;
  width: 35%;
  left: -350px;
  top: 50%;
}

.projests-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 70px;
}

.projests-wrapper div {
  width: 32%;
  height: auto;
  margin-bottom: 20px;
}

.projests-wrapper div img {
  width: 100%;
  height: auto;
}

.projests-wrapper .hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
}

.projests-wrapper .image {
  position: relative;
}

.image.first:hover .hidden.first-hidden,
.image.second:hover .hidden.second-hidden,
.image.third:hover .hidden.third-hidden,
.image.fourth:hover .hidden.fourth-hidden,
.image.fifth:hover .hidden.fifth-hidden,
.image.sixth:hover .hidden.sixth-hidden,
.image.seventh:hover .hidden.seventh-hidden,
.image.eighth:hover .hidden.eighth-hidden,
.image.nineth:hover .hidden.nineth-hidden,
.image.tenth:hover .hidden.tenth-hidden,
.image.eleventh:hover .hidden.eleventh-hidden,
.image.twelveth:hover .hidden.twelveth-hidden {
  opacity: 1;
  z-index: 1;
  -webkit-transition: ease .4s;
  transition: ease .4s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  outline: 1px solid #646464;
}

.projests-wrapper span {
  font-family: "Oswald", Sans-serif;
  font-size: 2.4rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.68px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #949494;
  color: #ffffff;
  color: #ffffff;
  font-family: "Lato", Sans-serif;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 1.1px;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #ffffff;
  color: #0a0a0a;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.contacts-down {
  background-color: black;
  padding-top: 70px;
  padding-bottom: 70px;
}

.contacts-down__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columns {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.columns h4 {
  color: #ffffff;
  font-family: "Oswald", Sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  margin-bottom: 20px;
}

.column-first p {
  color: #ffffff;
  font-family: "Lato", Sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.1px;
  margin-top: 20px;
}

.columns .nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.columns .nav ul li {
  margin-top: 20px;
}

.column-second {
  margin-left: 100px;
}

.columns .contact-right a {
  border: none;
}

.columns .contact-right {
  width: 160px;
  margin-left: -10px;
}

.columns .contact-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.columns span {
  font-size: 1rem;
}

.columns .projests-wrapper div {
  margin-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */